.black{color: #000000;}
.blue{color: #0000FF;}
.blue-aquamarine{color: #7FFFD4;}
.blue-cornflower{color: #6495ED;}
.blue-cyan-dark{color: #008B8B;}
.blue-cyan-light{color: #E0FFFF;}
.blue-dark{color: #00008B;}
.blue-dark-middle{color: #7B68EE;}
.blue-dodger{color: #1E90FF;}
.blue-emerald-middle{color: #48D1CC;}
.blue-facebook{color: #3B5999;}
.blue-grey-dark{color: #483D8B;}
.blue-grey-light{color: #778899;}
.blue-grey-middle{color: #191970;}
.blue-indigo{color: #4B0082;}
.blue-light{color: #ADD8E6;}
.blue-middle{color: #0000CD;}
.blue-navy{color: #5F9EA0;}
.blue-ocean-dark{color: #8FBC8F;}
.blue-ocean-light{color: #20B2AA;}
.blue-ocean-middle{color: #3CB371;}
.blue-pink{color: #B0E0E6;}
.blue-royal{color: #4169E1;}
.blue-sky{color: #87CEEB;}
.blue-sky-deep{color: #00BFFF;}
.blue-sky-light{color: #87CEFA;}
.blue-slate{color: #6A5ACD;}
.blue-steel{color: #4682B4;}
.blue-steel-light{color: #B0C4DE;}
.blue-teal{color: #008080;}
.blue-turquois{color: #40E0D0;}
.brown{color: #A52A2A;}
.brown-deep{color: #8B4513;}
.brown-green-deep{color: #6B8E23;}
.brown-sandy{color: #F4A460;}
.buff{color: #F5F5DC;}

.chocolate{color: #D2691E;}
.coral{color: #FF7F50;}
.coral-light{color: #F08080;}

.golden{color: #FFD700;}
.green{color: #008000;}
.green-blue{color: #006400;}
.green-emerald-dark{color: #00CED1;}
.green-forest{color: #228B22;}
.green-grass{color: #7CFC00;}
.green-light{color: #90EE90;}
.green-middle{color: #66CDAA;}
.green-mint{color: #BDFCC9;}
.green-ocean{color: #2E8B57;}
.green-olive-dark{color: #556B2F;}
.green-orange{color: #32CD32;}
.green-pale{color: #98FB98;}
.green-shallow{color: #00FFFF;}
.greey-slate-dark{color: #2F4F4F;}
.green-spring{color: #00FF7F;}
.green-spring-middle{color: #00FA9A;}
.grey{color: #808080;}
.grey-black-deep{color: #292929;}
.grey-black-shallow{color: #3C3C3C;}
.grey-dark{color: #696969;}
.grey-dark-shallow{color: #A9A9A9;}
.grey-light{color: #D3D3D3;}
.grey-shallow{color: #DCDCDC;}
.grey-slate{color: #708090;}

.kirin-golden{color: #DAA520;}

.magenta-dark{color: #8B008B;}
.marron{color: #800000;}

.ocher{color: #A0522D;}
.olive{color: #808000;}
.orange{color: #FFA500;}
.orange-acid{color: #00FF00;}
.orange-dark{color: #FF8C00;}
.orange-peru{color: #CD853F;}
.orange-red{color: #FF4500;}
.orange-salmon{color: #FA8072;}
.orange-salmon-dark{color: #E9967A;}
.orange-salmon-light{color: #FFA07A;}

.pink{color: #FFC0CB;}
.pink-deep{color: #FF1493;}
.pink-hot{color: #FF69B4;}
.pink-light{color: #FFB6C1;}
.pink-peachpuff{color: #FFDAB9;}
.purple{color: #A020F0;}
.purple-dark{color: #9932CC;}
.purple-middle{color: #9370DB;}
.purple-pink-middle{color: #BA55D3;}
.purple-plum{color: #DDA0DD;}
.purple-red{color: #FF00FF;}
.purple-red-dark{color: #800080;}
.purple-shallow{color: #DA70D6;}
.purple-shallow-light{color: #E6E6FA;}
.purple-thistle{color: #D8BFD8;}

.red{color: #FF0000;}
.red-dark{color: #8B0000;}
.red-dark-deep{color: #DC143C;}
.red-firebrick{color: #B22222;}
.red-indian{color: #CD5C5C;}
.red-rose-brown{color: #BC8F8F;}
.red-rose-shallow{color: #FFE4E1;}

.silver{color: #C0C0C0;}

.tea{color: #D2B48C;}
.tomato{color: #FF6347;}
.turquoise-grey{color: #AFEEEE;}

.violet{color: #EE82EE;}
.violet-blue{color: #8A2BE2;}
.violet-dark{color: #9400D3;}
.violet-grey{color: #DB7093;}
.violet-middle{color: #C71585;}

.white{color: #FFFFFF;}
.white-antique{color: #FAEBD7;}
.white-flower{color: #FFFAF0;}
.white-ghost{color: #F8F8FF;}
.white-ivory{color: #FFFFF0;}
.white-navajo{color: #FFDEAD;}
.white-smoke{color: #F5F5F5;}
.white-snow{color: #FFFAFA;}
.white-seashell{color: #FFF5EE;}

.yellow{color: #FFFF00;}
.yellow-blue{color: #ADFF2F;}
.yellow-blue-light{color: #7FFF00;}
.yellow-brown{color: #F0E68C;}
.yellow-brown-dark{color: #BDB76B;}
.yellow-cornsilk{color: #FFF8DC;}
.yellow-golden-dark{color: #B8860B;}
.yellow-goldenrod-light{color: #FAFAD2;}
.yellow-kylin-pale{color: #EEE8AA;}
.yellow-lemon{color: #FFFACD;}
.yellow-light{color: #FFFFE0;}
.yellow-moccasin{color: #FFE4B5;}
.yellow-papayawhip{color: #FFEFD5;}
.yellow-shallow{color: #F5DEB3;}
.yellow-tangerine{color: #FFE4C4;}
.yellow-wood{color: #DEB887;}